# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

build/**/*.js
build/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
pnpm-lock.yaml
*.local
.env
.env.local
.env.production

dist/